body {
  background-color: #15284e;
}

.App {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

.App-header, #main {
  background-color: #15284e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 5%;
}

#main {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}
